body{
	background: rgb(243,243,243);
	background-image: url('img/wp.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 1000px;
}

.box-login{
	width: 100%;
	margin-left: 95%;
	margin-top: 30%;
	box-shadow: 0px 0px 20px rgba(59, 143, 147);
	background: #f0f0f0;
	padding: 20px;
	border-radius: 10px;
}

.box-register{
	position: absolute;
	width: 100%;
	margin-left: 95%;
	margin-top: 7%;
	box-shadow: 0px 0px 20px rgba(59, 143, 147);
	background: #f0f0f0;
	padding: 20px;
	border-radius: 10px;
}

.btn-primary{
	background: #05bcff;
}
button{
	width: 100%;
	margin-bottom: 10px;
}

button a{
	text-decoration: none;
	color: white;
	display: inline-block;
	width: 100%;
	height: 100%;
}

button a:hover{
	text-decoration: none;
	color: white;
}

textarea{
	resize: none;
}

@media only screen and (max-width: 600px) {
	.box-login{
		margin-left: 3px;
		background: rgba(255,255,255,.7);
	}

	.box-register{
		width: 95%;
		margin-left: -4px;
		margin-top: 2px;
		background: rgba(255,255,255,.7);
	}
}